HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### application config ###
application.yml
application-dev.yml
application.properties

/src/main/java/com/nlweb/config

src/main/java/com/nlweb/common/runner/
src/main/java/com/nlweb/common/initializer
src/main/java/com/nlweb/common/validation
src/main/java/com/nlweb/common/security
src/main/java/com/nlweb/common/exception

/src/main/resources/db
/src/main/resources/logback-spring.xml

src/test

WARP.md

bash/
docker/DOCKER_DEPLOYMENT.md
docker/docker-compose.test.yml
docker/test-deploy.sh
docker/TEST_DEPLOYMENT.md
Dockerfile

.DS_Store

.env
/src/main/resources/application-test.yml
/TESTING.md
/Dockerfile.test
